version: '3.8'
services:
  mailhog:
    image: mailhog/mailhog:latest
    container_name: klinikmat_mailhog
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI
    restart: unless-stopped
