# Dependencias
/node_modules

# Archivos de build
/.next/
/out/

# Archivos de entorno (¡Contienen secretos!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store